body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f0f0;
}

.top-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.top-buttons button {
  flex: 1;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.main-text {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  flex:1;
}

.bottom-buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0 20px;
}

.bottom-buttons button {
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Button Colors */
.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
